doctype html
html(lang="en")
    head
        script(type="text/javascript", src="scripts.js")
        link(rel="stylesheet", href="styles.css")
        link(href="https://fonts.googleapis.com/css2?family=Heebo&display=swap", rel="stylesheet")
        meta(charset="UTF-8")
        title Now Playing

    body
        #container
            .item#current
                .song#song song
                .user#user user
            .item#next
                .song#nextUserSong nxt usr song
                .user#nextUser next user
