

#container{
    display: flex;
    flex-direction: column;
    max-width: 270px;
    border: 1px solid #000;
    background-color: #2F2F2F7F;
    overflow: hidden;
    border-radius: 4px;
    color: #fefdfb;
    font-family: 'Heebo', sans-serif;
}

#user{
    font-size: 15px;
}

#userSong{
    font-size: 30px;
}

#nextUser{
    font-size: 10px;
}

#nextUserSong{
    font-size: 15px;
}

#datetime{
    color: #999
    font-size: 10px;
}

.item{
    flex-direction: column;

}

#next{
    align-self: flex-end;
    text-align: right;
    padding-right: 5px;
}

#current{
    padding-left: 5px;
}


